<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <div>
      <strong><%= post.title %></strong><br>
      <span><%= post.body %>
      <% if user_signed_in? %>
        <br>by <%= post.user.username %>
        <% if post.user.id == current_user.id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          &nbsp;|&nbsp;
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      </span>
    </div><br>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
